<a href="https://colab.research.google.com/github/LIMSONA/Machine_learning_study/blob/main/DataFrame_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
# python 빌트인 os 라이브러리 import 및 파일 위치 확인
# 1주차 실습을 위한 pandas 라이브러리 import 및 pd로 alias 지정

In [37]:
os.listdir('./drive/MyDrive/파이썬~머신러닝/machine_learning_data')

['friend.csv', 'new_friend.csv']

In [38]:
base_src = './drive/MyDrive/파이썬~머신러닝/machine_learning_data'
# 데이터 폴더 src 변수 할당

In [39]:
friend_src=base_src+"/friend.csv"
# friend.csv 파일 src 변수 할당

In [40]:
friend_src

'./drive/MyDrive/파이썬~머신러닝/machine_learning_data/friend.csv'

In [41]:
df=pd.read_csv(friend_src,encoding='utf-8')
# pandas의 read_csv => 데이터 불러오기
## encoding= 데이터 인코딩 방식 설정

In [42]:
df.head()
#파일읽기

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
df.head(6)
#상위 6개 파일읽기

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
new_friend_src=base_src + "/new_friend.csv"

In [45]:
new_friend_src

'./drive/MyDrive/파이썬~머신러닝/machine_learning_data/new_friend.csv'

In [47]:
df.to_csv(new_friend_src,index=False,encoding='utf-8')
# pandas의 to_csv => 데이터 프레임 저장
## index = True or False =>데이터 저장시 새로운 인덱스를 생성할지 말지
## encoding => 데이터 인코딩 방식 설정

In [48]:
os.listdir(base_src)

['friend.csv', 'new_friend.csv']