<a href="https://colab.research.google.com/github/LIMSONA/Machine_learning_study/blob/main/DataFrame_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import os
import pandas as pd

In [12]:
os.listdir('./drive/MyDrive/파이썬~머신러닝/machine_learning_data')

['.ipynb_checkpoints',
 'test.csv',
 'train.csv',
 'friend.csv',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log']

In [15]:
# 데이터 폴더 src 변수 할당
base_src='./drive/MyDrive/파이썬~머신러닝/machine_learning_data/'

#friend.csv 파일 src 변수 할당
friend_src= base_src + '/friend.csv'

In [20]:
#pandas의 read_csv  ->데이터 불러오기

df=pd.read_csv(friend_src, encoding='utf-8')

In [21]:
#head() 데이터를 읽어보기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager